<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>NSCameraUsageDescription</key>
	<string>We use the camera to capture text from your book for composing posts.</string>
	
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We request access so you can pick images to extract text from.</string>

	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
